h1,
p {
    font-family: Lato;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        tr {
            th {
                cursor: pointer;
                text-align: left;
                border-bottom: solid 1px #E5E5E5;
                padding: 10px 15px 7px;
                border-collapse: collapse;
                color: #444444;
                font: normal normal normal 10px/11px Arial;
                height: 11px;
            }

            th.ascending::after {
                display: inline-bloc;
                margin-left: 1em;
            }

            th.descending::after {
                display: inline-bloc;
                margin-left: 1em;
            }
        }
    }

    tbody {
        tr {
            td {
                border-bottom: solid 1px #E5E5E5;
                padding: 8px 15px;

                .date_frm {
                    text-transform: capitalize;

                    .title {
                        margin-bottom: 8px;
                        font: normal normal normal 16px/22px Open Sans;
                        font-family: Open Sans, Regular;
                        color: #333333;
                    }

                    .sub_title {
                        font: normal normal normal 14px/19px Open Sans;
                        color: #333333;
                    }
                }

                .subject {
                    .title {
                        font: normal normal normal 16px/22px Open Sans;
                        margin-bottom: 10px;
                    }

                    .sub_title {
                        font: normal normal normal 14px/19px Open Sans;
                    }
                }
            }
        }

        tr:nth-child(even) {
            background-color: #F2F4F7;
        }
    }
}

.short_icn {
    width: 10px;
    margin: 0px 15px;
}

.resend_btn {
    border: 1px solid #7D869A;
    padding: 5px 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font: normal normal normal 12px/14px Arial;
    width: 88px;
    height: 28px;
    background: #7D869A 0% 0% no-repeat padding-box;
    border-radius: 2px;
    text-transform: uppercase;
}
.btn_right_align{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}