.loader_body {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 0.8;
    display: flex;
    box-shadow: 0 10px 20px rgb(0 0 0);
    background: rgb(0 0 0 / 83%);
    backdrop-filter: saturate(180%) blur(10px);
    border: 1px solid rgb(0 0 0);
    border-radius: 10px;

    .loader_content {
        width: fit-content;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .data{
        position: relative;
        .txt{
            position: absolute;
            left: -45px;
            top: 84px;
            color: #ffffff;
            font-size: 35px;
        }
    }

}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}