body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1165px;
  height: 1400px;
  margin: auto;
}

code {
  font-family: 'Open Sans';
}