// Common style start
.border_right_1_white {
    border-right: 1px solid #fff;
}

.pad_0 {
    padding: 0px;
}

// Common style End

.header {
    display: flex;
    border-bottom: 2px solid #333333;
    padding: 16px 0px;

    .name {
        display: flex;
        align-items: center;

        img {
            width: 28px;
            height: 25px;
        }

        p {
            margin: 0px 10px;
            color: #000000;
            text-transform: capitalize;
            font: normal normal 600 25px/34px Open Sans;
            font-size: 25px;
        }
    }

    .header_btn {

        .new_order_btn {
            color: #ffffff;
            padding: 5px 15px;
            white-space: nowrap;
            border: unset;
            cursor: pointer;
            width: 200px;
            height: 40px;
            background: #404040 0% 0% no-repeat padding-box;
            border-radius: 4px;
            font-size: 18px;
        }
    }
}

.flex_grow1 {
    flex-grow: 1;
}

.close_icn {
    position: absolute;
    z-index: 99999;
    right: 70px;
    top: 70px;
    width: 25px;
}

// Grid Start
.grid_container {
    max-width: 100%;
    margin: 10px auto;
    display: grid;
    gap: 5px;
    justify-items: stretch;
    align-items: stretch;

    .grid_container_row {
        background: #EDF5FF;
        text-align: center;
        padding: 0px;
        border: 1px solid #EDF5FF;
        height: 125px;
    }

    :nth-child(1) {
        grid-column: span 2;
    }

    :nth-child(2) {
        grid-column: span 3;
    }

    :nth-child(3) {
        grid-column: 6/span 18;
    }

    :nth-child(4) {
        grid-column: 24/span 2;
    }
}

// Grid End

.user_profile {
    img {
        margin-top: 11px;
        width: 63px;
        height: 72px;
        top: 0;
        left: 7px;
        position: relative;
    }

    p {
        text-transform: uppercase;
        color: #333333;
        font: normal normal normal 10px/11px Arial;
        font-family: Arial, Regular;
    }
}

.user_contact_details {
    ul {
        padding: 0px;
        margin: 0px;

        li {
            list-style-type: none;
            display: flex;
            width: -moz-fit-content;
            width: fit-content;
            margin: 6px 0px;
            position: relative;
            padding-left: 28px;

            .smart_ph_icn {
                width: "13px";
                left: "11px";
            }

            .wid_12px {
                width: "12px"
            }

            .img_home_icn {
                width: "16px";
                left: "10px";
            }

            .image_arroba_icn {
                width: "14px";
                left: "11px"
            }

            img {
                width: 12px;
                height: 14px;
                position: absolute;
                top: 0;
                left: 12px;
            }

            .content {
                margin-left: 10px;
                font: normal normal normal 12px/17px Open Sans;
            }
        }
    }
}

.communication_activity_body {
    .title {
        padding: 7px 0px 6px;
        font: normal normal normal 12px/17px Open Sans;
        color: #333333;
        font-family: Open Sans, Regular;
    }

    .content {
        display: flex;

        .card {
            flex: auto;
            padding: 29px 0px 0px 0px;

            .number {
                margin: -26px 0px 0px;
                font: normal normal 600 50px/68px Open Sans;
                color: #333333;
                font-size: 50px;
                font-family: Open Sans, Semibold;
            }

            .data {
                background: #D5DCE5;
                color: #333333;
                padding: 5px 0px;
                text-transform: uppercase;
                font: normal normal 600 10px/14px Open Sans;
            }
        }
    }
}

.tab_body {
    border-top: 1px solid #D4D4D4;
    border-bottom: 2px solid #4D4D4D;
    margin-bottom: 1px;
    background: #F2F2F2 0% 0% no-repeat padding-box;

    ul {
        display: flex;
        margin: auto;
        width: fit-content;
        padding: 0px;

        li {
            list-style-type: none;
            background-color: #D2D2D2;
            margin: 40px 1px 0px;
            text-transform: uppercase;
            cursor: pointer;
            font: normal normal bold 12px/14px Arial;
            width: 165px;
            height: 40px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            color: #3A3A3A;
        }

        .active_tab {
            background-color: #3A3A3A;
            color: #fff;
        }
    }
}

.tab_content {
    position: relative;

    .recent_orders {
        background-color: #7D869A;
        padding: 15px 10px;
        position: relative;

        .title {
            margin: auto;
            left: 45%;
            top: 16px;
            position: absolute;
            width: -moz-fit-content;
            width: fit-content;
            text-align: center;
            font: normal normal 600 16px/22px Open Sans;
            letter-spacing: 0px;
            color: #FFFFFF;
        }
    }

    .tab_btn {
        border-radius: 20px;
        border: 1px solid #7d869a;
        background-color: transparent;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        font: normal normal normal 10px/11px Arial;
        width: 67px;
        height: 23px;
        padding: 7px 0px;
    }

    .button_active {
        background-color: #ffffff;
        color: #3A3A3A;
    }

    .no_data {
        background-color: #FAFAFA;
        padding: 12%;
        text-align: center;
        font-size: 21px;
        color: #CCCCCC;
    }
}

.wid_239px {
    width: 239px;
}
.wid_97px{
    width: 97px;
}
.pad_0px{
    padding: 0px;
}
.wid_185px{
    width: 185px;
}
.sms_carrer{
    padding: '0px';
    background-color: '#EDFFED';
    width:"225px";
    
    .data{
        background-color: '#D5E5D5'
    }
}

.mar_lr_20px{
    margin: 0px 20px;
}

.wid_225px{
    width: 225px;
}